/* .div1{
margin: 10px;
font-size: 15px;
}
.div3{
    color:white;
    font-family: 10px monospace;
    font-size: 10px;
    text-align: center; 
}
*{
    margin: 5px;
    padding: 5px;
    font-family: sans-serif;
}
.div4{
        border-style: solid;
}
.div5{
   background-color: lime;
}
.div6{
    background-color: red;
} */
