.anotherall {
    display: flex;
    height: 500px;
}

.d1 {
    background-color: aqua;
}

.d2 {
    background-color: red;
}

.d3 {
    background-color: purple;
}

.d4 {
    background-color: blue;
}
